div.modal-header
    h3.modal-title
        |Create Template
        button(ng-click='modalCancel()').btn.btn-xs.btn-danger.pull-right
            span(aria-hidden='true') x
div.modal-body(style='padding: 30px 15px 40px 15px;')
    span Template Name : 
    input(type='text', ng-model='templateName', autofocus)
    span#enterTemplate-helper Enter template name please.
div.modal-footer
    button.btn.btn-success(ng-click='createTemplate()') OK
    button.btn.btn-warning(style='margin-left: 10px;', ng-click='modalCancel()') Cancel