div.modal-header
	|Delete
	button(ng-click='cancel()').btn.btn-xs.btn-danger.pull-right
		span x
div.modal-body
	form.form-horizontal(role='form')
		div.form-group
			span.col-md-12 Are you sure to delete this?
div.modal-footer
	a.btn.btn-danger(ng-click='delete()')
		|Delete
	a.btn.btn-warning(ng-click='cancel()')
		|Cancel