div#bodyForm.col-md-12
  div#template-bar.col-md-3.col-sm-12
    div#template-form
      div#template-title
        label(style='margin-left:5px;') Template
        button.btn.btn-default.pull-right(style='margin-right:10px;', ng-click='newTemplate()') new template
      div#template-group(ng-repeat='template in templates', class='tem{{$index}}')
        div#template-item(ng-click='templateOpen($index)')
          span {{template.templateName}}
          a.pull-right.colorRed(style='margin=right:10px;', ng-click='deleteTemplate(template._id)') x
  div#filterbar.col-md-3.col-sm-12(style='display:none;')
    div#go-templated
      span(style='cursor: pointer;', ng-click='goTemplate()')
        i.glyphicon.glyphicon-circle-arrow-left
        b Template
    div#filterForm
      div#filterGroup(ng-repeat='filter in filters' class='{{filter.cls}}')
        div(ng-click='filterOpen(filter.cls)').title
          |{{filter.title}}
        div.content
          div#pa-range
            //span#pips.col-md-11(style='padding:0 3px 0 3px;')
              span#pips-item {{filter.value}}
            input#basic-range(type='range', ng-model='filter.value', min='{{filter.min}}', max='{{filter.max}}', step='{{filter.step}}', value='{{filter.value}}', ng-change='valueChange(filter.max, filter.value)')
            span.text-left.col-md-4.rangeMin {{filter.min}}
            span.text-right.col-md-8.rangeMax {{filter.max}}
            p.ml-10.text-center
              span Control value : 
              span(style='color: red;')#rangeValue {{filter.value}}
          div#pa-range2(ng-if='filterDoubleRange', style='margin-bottom:10px;')
            input#double-range(type='range', ng-model='filter.value2', min='{{filter.min}}', max='{{filter.max}}', step='{{filter.step}}', value='{{filter.value2}}')
            span.text-left.col-md-4.rangeMin {{filter.min}}
            span.text-right.col-md-8.rangeMax {{filter.max}}
            p.ml-10.text-center
              span Control value :
              span(style='color: red;')#range2Value {{filter.value2}}
          div#pa-btn
            button.btn.btn-default(ng-click='filterAccept(filter.cls, $index)') Accept
            a(style='margin-left:10px;', ng-click='filterReset(filter.cls, $index)') Reset
  div#image.col-md-7.col-sm-12
    center
      img#imgView(src='', style='display: none;')
      canvas#imageCanvas(src='', style='display: none;')
      div#files Drag & Drop Iamge
      canvas#imageFilterCanvas(src='', width='1000', height='700', style='display:none; position:relative')
      div(style='max-width:500px; margin-top:10px')
        div#files-s.pull-left Select Image
          center
            input#input-file(type='file', ng-model='loadImage', multiple='false', data-show-upload='false', data-show-caption='true', accept='image/x-png, image/gif, image/jpeg')
        a.pull-right#downloadLnk(download) SAVE
  div#editer-bar.col-md-2.col-sm-12(style='display:none;')
    div#editer-button
    div#editer-form(style='width:95%')
      div#editer-group(ng-repeat='history in nowTemplate.histories | orderBy: "order"', class='temHis{{$index}}')
        label {{history.title}}
        i.glyphicon.glyphicon-ok.ml10#applyCheck(class='applyCheck{{$index}}')
        a.pull-right.colorBlack(style='margin-right:10px;', ng-click='temOrderDown(history, $index)') ▼ 
        a.pull-right.colorBlack(style='margin-right:10px;', ng-click='temOrderUp(history, $index)') ▲
        div
          input#template-parameter(type='range', ng-model='history.value', min='{{history.min}}', max = '{{history.max}}', step = '{{history.step}}', value = '{{history.value}}',style='margin-bottom:10px;', ng-change='temRangeUpdate(history, $index)')
          span.text-left.col-md-4.rangeMin {{history.min}}
          span.text-right.col-md-8.rangeMax {{history.value}}
          br
          div(class='temDoubleRange{{$index}}', style='display:none;')
            input#template-parameter2(type='range', ng-model='history.value2', min='{{history.min}}', max = '{{history.max}}', step = '{{history.step}}', value = '{{history.value2}}',style='margin-bottom:10px;', ng-change='temRangeUpdate(history, $index)')
            span.text-left.col-md-4.rangeMin {{history.min}}
            span.text-right.col-md-8.rangeMax {{history.value2}}
  div#editerbar.col-md-2.col-sm-12(style='display:none;')
    div#editerForm(style='width:95%;')
      div#editerParameter.editerParagraph
        label Parameter
        a.pull-right.colorBlack(style='margin-right:10px;', ng-if='editHistory', ng-click='historyOrderDown()') ▼ 
        a.pull-right.colorBlack(style='margin-right:10px;', ng-if='editHistory', ng-click='historyOrderUp()') ▲
        div(ng-if='editHistory')
          span(style='margin-left:5px;') {{editHistory.title}}
          input#parameterRange(type='range', ng-model='editHistory.value', min = '{{editHistory.min}}', max = '{{editHistory.max}}', step = '{{editHistory.step}}', value = '{{editHistory.value}}',style='margin-bottom:10px;')
          span.text-left.col-md-4.rangeMin {{editHistory.min}}
          span.text-right.col-md-8.rangeMax {{editHistory.value}}
          br
          div(ng-if='parameterDoubleRange')
            input#parameterRange2(type='range', ng-model='editHistory.value2' min = '{{editHistory.min}}', max = '{{editHistory.max}}', step = '{{editHistory.step}}', value = '{{editHistory.value2}}',style='margin-bottom:10px;')
            span.text-left.col-md-4.rangeMin {{editHistory.min}}
            span.text-right.col-md-8.rangeMax {{editHistory.value2}}
          div.pull-right(style='margin-top:10px;')
            button.btn.btn-default(ng-click='updateHistory()') accept
            a.colorBlack(style='margin-left: 10px;', ng-click='backHistory()') back
      div#editerHistory.editerParagraph(ng-click = 'paraSectorOpen()')
        label Filter
        a.colorRed.pull-right(style='font-size: 8pt;', ng-click='deleteAllHistory()') DELETE ALL
        div#editerHistoryList
          div
            hr(style='border: 1px solid #bfbfbf; margin:0;')
          div(ng-repeat = 'history in histories | orderBy: "order"')
            p#historyItem(style='margin-top:10px;', ng-click='showParameter($index)')
              |{{history.title}}
              a.pull-right.colorRed(style='margin-right:10px; z-index:9999', ng-click='deleteHistory($index)') x
            hr(style='border: 1px solid #bfbfbf; margin:0;')
        button.btn.btn-default.pull-right(ng-if='histories.length', ng-click='openCreateModal()') Save as template