doctype html
html(ng-app='imgProcessing')
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/components/bootstrap-css-only/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='/components/angular/angular.js')
    script(src='/components/angular-bootstrap/ui-bootstrap-tpls.min.js')
    script(src='/components/angular-route/angular-route.js')
    script(src='/components/jquery/dist/jquery.js')
    script(src='/javascripts/app.js')
    script(src='/services/services.js')
    script(src='/javascripts/controller.js')
    
  body
    div.navbar.navbar-default.navbar-fixed-top
      div.nav_head.container(style='width:120px;')
        div.navbar-header
          a.navbar-brand(href='javascript:location.reload();') Cybermed
    block content
