html{
  overflow: hidden;
}
html,body{
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.navbar.navbar-default.navbar-fixed-top{
  border-bottom: solid 5px #ffa537;
}
.navbar-band{
  font-size: 25px;
}
.ml10{
  margin-left: 10px;
}
.ml-10{
  margin: 0 0 0 -10px;
}
.mr10{
  margin-right: 10px;
}
/* font color */
.colorBlack{
  color: #333333;
}
.colorBlack:hover{
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}
.colorRed{
  color: #d9534f;
}
.colorRed:hover{
  color: #d9534f;
  text-decoration: none;
  cursor: pointer;
}

/* Range */
input[type=range] {
  -webkit-appearance: none;
  width: 97%;
  margin: 5.75px 0;
  padding: 0px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 97;
  height: 2.5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #c0c0c0;
  border-radius: 0px;
  border: 0px solid rgba(0, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.8px 0.8px 1px #7b7576, 0px 0px 0.8px #888283;
  border: 1px solid #caccce;
  height: 14px;
  width: 14px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.75px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #c8c8c8;
}
input[type=range]::-moz-range-track {
  width: 97%;
  height: 2.5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #c0c0c0;
  border-radius: 0px;
  border: 0px solid rgba(0, 1, 1, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.8px 0.8px 1px #7b7576, 0px 0px 0.8px #888283;
  border: 1px solid #caccce;
  height: 14px;
  width: 14px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 97%;
  height: 2.5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #b8b8b8;
  border: 0px solid rgba(0, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #c0c0c0;
  border: 0px solid rgba(0, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0.8px 0.8px 1px #7b7576, 0px 0px 0.8px #888283;
  border: 1px solid #caccce;
  height: 14px;
  width: 14px;
  border-radius: 10px;
  background: #ffffff;
  cursor: pointer;
  height: 2.5px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #c0c0c0;
}
input[type=range]:focus::-ms-fill-upper {
  background: #c8c8c8;
}
.rangeMin{
  padding-left: 3px;
}
.rangeMax{
  padding-right: 12px;
}

#bodyForm{
  padding: 0;
  margin-top:50px;
  height:100%;
  overflow: hidden;
}

/*left*/
#template-bar{
  transition: 0.5s;
  right: 0;
  background-color: #f8f8f8;
  padding: 0 0 20px 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-box-shadow: 0 0 10px #a1a1a1;
  -webkit-box-shadow: 0 0 10px #a1a1a1;
  box-shadow: 0 0 10px #a1a1a1;
}
#template-form{
  margin-top:20px;
}
#template-title{
  font-size: 20px;
  margin-bottom:20px;
}
#template-group{
  padding-left:20px;
}
#template-item{
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  width: 95%;
  margin-bottom:10px;
  cursor: pointer;
}
#template-item:hover{
  background-color: #e8e8e8;
}
#template-item span{
  margin-left:10px;
}
#template-item a{
  margin-right:10px;
}
  
#filterbar{
  right: 500px;
  transition: 0.5s;
  background-color: #f8f8f8;
  padding: 20px 0 20px 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-box-shadow: 0 0 10px #a1a1a1;
  -webkit-box-shadow: 0 0 10px #a1a1a1;
  box-shadow: 0 0 10px #a1a1a1;
}
#go-templated{
  padding-left:20px;
}
#filterForm{
  margin-top:20px;
}
#filterGroup{
  padding-left:20px;
  line-height: 30px;
}
#filterGroup:hover{
  background-color: #e8e8e8;
}
.title{
  height: 30px;
  padding-bottom: 10px;
  cursor: pointer;
}
.content, .cont{
  height: 0px;
  overflow: hidden;
  transition: 0.3s;
}
#pips-item{
  border: 1px solid #888;
  border-radius: 3px;
  padding: 0;
  display: inline-block;
  width: 35px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  margin-bottom: 15px;
}
#pa-btn{
  text-align: right;
}
#filterGroup.active{
  background-color: #eaeaea;
  padding: 10px 10px 0 20px;
  -moz-box-shadow: 0 0 10px #afafaf; 
  -webkit-box-shadow: 0 0 10px #afafaf;
  box-shadow: 0 0 10px #afafaf;
  margin-bottom:10px;
}

/*center*/
#image{
  padding-bottom:70px;
  overflow: auto;
  height: 94%;
}
#uploadBtnForm{
  width: 500px;
  height: 375px;
  border: 1px solid #ccc;
  margin-top: 100px;
}
#uploadBtn{
  margin-top:38%;
}
#imageFilterCanvas{
  border: 1px solid #ccc;
  margin-top: 100px;
  -moz-box-shadow: 0 0 10px #a1a1a1; 
  -webkit-box-shadow: 0 0 10px #a1a1a1;
  box-shadow: 0 0 10px #a1a1a1;
}
#files{
  width: 1002px;
  padding: 350px 0 350px 0;
  border: 1px solid #ccc;
  margin-top: 50px;
  -moz-box-shadow: 0 0 10px #a1a1a1; 
  -webkit-box-shadow: 0 0 10px #a1a1a1;
  box-shadow: 0 0 10px #a1a1a1;
  text-align: center;
}
#files-s{
  height: 34px;
  line-height: 32px;
  width: 110px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  cursor: pointer;
}
#files-s:hover{
  background-color: #e6e6e6;
  border-color: #adadad;
}
#files-s:active{
  background-color: #e6e6e6;
  border: 2px solid #7c9ed5;
  cursor: pointer;
}
#downloadLnk{
  height: 34px;
  line-height: 32px;
  width: 70px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: #333333;
}
#downloadLnk:hover{
  background-color: #e6e6e6;
  border-color: #adadad;
}
#downloadLnk:active{
  background-color: #e6e6e6;
  border: 2px slid #7c9ed5;
  cursor: pointer;
}
#input-file {
  height: 34px;
  line-height: 32px;
  width: 110px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  -moz-opacity: 0;
  filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0);
  position: absolute;
  margin-top:-34px;
  font-size: 22px;
}

/*right*/
#editer-bar{
  left: 320px;
  transition: 0.5s;
  background-color: #f8f8f8;
  padding: 20px 0 20px 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-box-shadow: 0 0 10px #a1a1a1;
  -webkit-box-shadow: 0 0 10px #a1a1a1;
  box-shadow: 0 0 10px #a1a1a1;
}
#editer-button{
  height: 15px;
  padding-right: 10px;
}
#editer-form{
  height: 100%;
  margin-top: 20px;
  padding-left:10px;
}
#editer-group{
  height: 130px;
  margin-bottom: 25px;
}
#editerbar{
  transition: 0.5s;
  left: 320px;
  background-color: #f8f8f8;
  padding: 20px 0 20px 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  -moz-box-shadow: 0 0 10px #a1a1a1;
  -webkit-box-shadow: 0 0 10px #a1a1a1;
  box-shadow: 0 0 10px #a1a1a1;
}
#editerForm{
  height: 100%;
  margin-top:20px;
  padding-left: 10px;
}
#editerParameter{
  height: 25%;
  min-height: 120px;
  overflow-x: hidden;
  overflow-y: auto;
}
#editerHistory{
  height: 35%;
}
#editerHistoryList{
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
#historyItem{
  margin-top: 10px;
  padding-left: 10px;
}
#editerHistory button{
  margin-top: 10px;
}
#enterTemplate-helper{
  color:#d9534f;
  display: none;
  margin-top:10px;
}
#parameterRange{
  margin: 10px 0 10px 0;
}